<mat-card class='form-block'>
  <mat-card-title>LOG IN</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput type='email' placeholder='Email..'
        [(ngModel)]='credentials.email'
      >
    </mat-form-field>
    <mat-form-field>
      <input matInput type='password' placeholder='Password..'
        [(ngModel)]='credentials.password'
      >
    </mat-form-field>
    <button mat-raised-button color='primary'
      (click)='onLoginWithEmailAndPassword()'
    >
      LOG IN
    </button>
    
  </mat-card-content>
</mat-card>
  

